/* Variable CSS start */
:root{
    --white: #ffffff;
    --black: #000000;
    --orange: #fc5d35;
    --shadow: #d6d3d3;
    --light-gray: #cdcdce;
    --facebook-blue: #1773EA;
    --twitter-blue: #1A98E8;
    --linked-in-blue: #2764AC;
}
/* Variable CSS end */
/* Common CSS start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.section-main-header{
    font-size: 40px;
}
.section-main-paragraph{
    font-size: 17px;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 177px;
}
h3{
    font-size: 30px;
}
h5{
    color: var(--orange);
    font-size: 25px;
}
p{
    font-size: 17px;
}

/* Common CSS end */
/* Header section start */
.header-section{
    padding: 20px 0;
}
.header-section form{
    max-width:140px;
}
.header-section form input{
    width: 100%;
}
.search-icon{
    font-size: 20px;
    display: inline-block;
    background-color: rebeccapurple;
}
.header-section .login-btn{
    background-color: var(--orange);
    border-radius: 0;
    transition: .7s;
}
.header-section .login-btn:hover{
    background-color: var(--black);
    border-radius: 0;
}
/* Header section end */
/* .slider section star */
.slider-section{
    padding: 90px 0;
    min-height: 70vh;
}
.slider-section img{
    max-height: 340px;
}
.slider-section .cta-btn a.shop-btn{
    background-color: var(--orange);
}
.slider-section .cta-btn a.shop-btn:hover{
    background-color: var(--black);
}
.slider-section .previous-btn{
    width: 40px;
    height: 40px;
    top: 250px;
    left: 0;
    position:absolute;
    background-color: var(--orange);
    opacity: 1;
}
.slider-section .next-btn{
    width: 40px;
    height: 40px;
    top: 300px;
    left: 0;
    position:absolute;
    background-color: var(--black);
    opacity: 1;
}
/* .slider section end */
/* Service section start */
.service-seciton{
    padding: 70px 0;
}
.fruit-box{
    margin: 20px;
    border: 1px solid var(--black);  
    transition: 0.4s;  
    position: relative;
}
.fruit-box:hover{
    border: 1px solid var(--white);
    box-shadow: 0px 0px 8px var(--shadow);
}
.fruit-box::before{
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--orange);
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
.fruit-box:hover::before{
    height: 8px;
}
.fruit-img-box{
    height: 85px;
    width: 85px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.fruit-box p{
    max-width: 310px;
    padding: 10px ;
}
.cta-btn a{
    padding: 15px 46px;
    font-size: 17px;
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s;
}
.cta-btn a:hover{
    background-color: var(--orange);
}
/* Service  section end */
/* Fresh secition start  */
.fresh-section{
    padding: 60px 0;
}
/* Fresh section end  */
/* Testy section start */
.testy-section{
    padding: 90px 0;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("img/testy-bg.jpg");
}
/* Testy section end */
/* Testimonial section start */
.testimonial-section{
    padding: 90px 0;
}
.testimonial-section p{
    max-width: 900px;
}
.testimonial-section .user-name{
    font-size: 25px;
}
.testimonial-section .controler-wrapper{
    position: relative;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.testimonial-section .controler-wrapper .previous-btn{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--black);
    display: inline-block;
}
.testimonial-section .controler-wrapper .next-btn{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--black);
    display: inline-block;
}
/* Testimonial section end */
/* Contact section start */
.contact-section{
    padding: 60px 25px;
    position: relative;
    background-image: url(img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: 18% 75%;
    background-position: right top 75px;
}
form{    
    font-size: 16px;
}
form input{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    background-color: transparent;
}
form textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    resize: none;
    position: relative;
    background-color: transparent;
}
textarea::placeholder{
    position: absolute;
    bottom: 0;
}
.contact-section .cta-btn a{
    background-color: var(--orange);
}
.contact-section .cta-btn a:hover{
    background-color: var(--black);
}
/* Contact section end  */
/* Map section start */
.map-section{
    width: 100%;
    height: 600px;
}
.map-section iframe{
    width: 100%;
    height: 100%;
}
/* Map section end */
/* Footer section start */
footer{
    padding: 90px 0;
}
footer ul {
    list-style: none;
}
footer ul li a i{
    width: 40px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    padding-top: 10px;
    font-size: 20px;
}
footer ul li a i.fa-facebook-f:hover{
    background-color: var(--facebook-blue);
}
footer ul li a i.fa-twitter:hover{
    background-color: var(--twitter-blue);
}
footer ul li a i.fa-linkedin-in:hover{
    background-color: var(--linked-in-blue);
}
footer ul li a:hover i.fa-instagram{
    background-image: linear-gradient(to bottom left,#F7AA4E,#E6495F,#AA2EB7);
}
footer input{
    outline: none;
}
footer .cta-btn a{
    background-color: var(--orange);
}
footer .cta-btn a:hover{
    background-color: var(--black);
}
/* Footer section end  */
/* Responsive section start */
@media (max-width: 991px){
    .header-section form{
        max-width:250px;
    }
    .slider-section{
        min-height: 60vh;
    }
    .slider-section .cta-btn a{
        padding: 10px 30px;
    }
    .slider-section p{
        font-size: 14px;
    }
    .fruit-box p{
        max-width: 100%;
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 125px;
    }
    footer input{
        max-width: 280px;
    }
    .map-section{
        height: 400px;
    }
}
@media (max-width: 767px){
    .slider-section{
        min-height: 80vh;
    }
    .slider-section .previous-btn{
        display: none;
    }
    .slider-section .next-btn{
        display: none;
    }
    .fresh-section .cta-btn {
        text-align: center;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 80px;
    }
    .fresh-section .cta-btn {
        text-align: left;
    }
    .contact-section{
        background-size: 40% 75%;
    }
}
@media (max-width: 575px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 40px;
    }
    .contact-section{
        background-size: 85% 75%;
    }
    .header-section form{
        max-width:150;
        padding: 0 10px;
    }
}
/* Responsive section end  */